/* added basic to css sheet */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.search-container {
    width: 30%;

}

.list-group .list-group-item li {
    width: 30%;
}

#weather-list {
    max-width: 600px;
    margin: 0 auto;
}